<%- include('../../components/_head') %>

  <body class="l-inner">
    <%- include('../../components/_header') %>
      <%- include('../../components/_nav') %>
        <main class="l-main">
          <%- include('../../components/_breadcrumbs') %>
            <h2 class="c-title c-title--accent c-title--center">お知らせ一覧</h2>
            <ul class="p-museum__list">
              <%- include('../../components/_BoxRow') %>
              <%- include('../../components/_BoxRow') %>
              <%- include('../../components/_BoxRow') %>
              <%- include('../../components/_BoxRow') %>
              <%- include('../../components/_BoxRow') %>
              <%- include('../../components/_BoxRow') %>
              <%- include('../../components/_BoxRow') %>
            </ul>
        </main>
        <%- include('../../components/_footer') %>
  </body>

  </html>