<% 
const data = [
  {
    label: 'dragon',
    name: '竜盤目',
  },
  {
    label: 'bird',
    name: '鳥盤目',
  },
];
%> 
<%- include('../../components/_head') %>

  <body class="l-inner">
    <%- include('../../components/_header') %>
      <%- include('../../components/_nav') %>
        <main class="l-main">
          <%- include('../../components/_breadcrumbs') %>
            <h2 class="c-title c-title--accent u-align-c">恐竜のなかまたち</h2>
            <ul class="p-dinosaur__list">
              <%- include('../../components/_DinosaurBox', {categoryData: data[0]}) %>
              <%- include('../../components/_DinosaurBox', {categoryData: data[1]}) %>
              <%- include('../../components/_DinosaurBox', {categoryData: data[1]}) %>
              <%- include('../../components/_DinosaurBox', {categoryData: data[0]}) %>
              <%- include('../../components/_DinosaurBox', {categoryData: data[0]}) %>
              <%- include('../../components/_DinosaurBox', {categoryData: data[0]}) %>
              <%- include('../../components/_DinosaurBox', {categoryData: data[1]}) %>
            </ul>
        </main>
        <%- include('../../components/_footer') %>
  </body>

  </html>