<%- include('../../components/_head') %> 
<body class="l-inner">
  <%- include('../../components/_header') %> 
  <%- include('../../components/_nav') %> 
  <main class="l-main">
      <%- include('../../components/_breadcrumbs') %>
    <h2 class="c-title c-title--accent c-title--center">お知らせ一覧</h2>
    <ul class="p-news">
      <li class="p-news__item">
        <span class="p-news__date">2021/03/01</span>
        <span class="p-news__tag">お知らせ</span>
        <a href="./1"><span class="p-news__link">全時代の恐竜が大迫力で展示されています。1日遊べる博物館です。</span></a>
      </li>
      <li class="p-news__item">
        <span class="p-news__date">2021/03/01</span>
        <span class="p-news__tag">お知らせ</span>
        <a href=""><span class="p-news__link">全時代の恐竜が大迫力で展示されています。1日遊べる博物館です。</span></a>
      </li>
      <li class="p-news__item">
        <span class="p-news__date">2021/03/01</span>
        <span class="p-news__tag">お知らせ</span>
        <a href=""><span class="p-news__link">全時代の恐竜が大迫力で展示されています。1日遊べる博物館です。</span></a>
      </li>
      <li class="p-news__item">
        <span class="p-news__date">2021/03/01</span>
        <span class="p-news__tag">お知らせ</span>
        <a href=""><span class="p-news__link">全時代の恐竜が大迫力で展示されています。1日遊べる博物館です。</span></a>
      </li>
      <li class="p-news__item">
        <span class="p-news__date">2021/03/01</span>
        <span class="p-news__tag">お知らせ</span>
        <a href=""><span class="p-news__link">全時代の恐竜が大迫力で展示されています。1日遊べる博物館です。</span></a>
      </li>
      <li class="p-news__item">
        <span class="p-news__date">2021/03/01</span>
        <span class="p-news__tag">お知らせ</span>
        <a href=""><span class="p-news__link">全時代の恐竜が大迫力で展示されています。1日遊べる博物館です。</span></a>
      </li>
    </ul>
  </main>
  <%- include('../../components/_footer') %>
</body>

</html>