<%- include('../../components/_head') %> 
<body class="l-inner">
  <%- include('../../components/_header') %> 
  <%- include('../../components/_nav') %> 
  <main class="l-main">
      <%- include('../../components/_breadcrumbs') %>
    <h2 class="c-title c-title--accent u-align-c">よくある質問</h2>
    <ul class="p-faq">
      <li class="p-faq__item">
        <span class="p-faq__link">会員登録すると何ができるの？</span>
      </li>
      <li class="p-faq__item">
        <span class="p-faq__link">お気に入り登録をすると何がいいの？</span>
      </li>
      <li class="p-faq__item">
        <span class="p-faq__link">解約はできるの？</span>
      </li>
      <li class="p-faq__item">
        <span class="p-faq__link">博物館や公園は本当にあるの？</span>
      </li>
    </ul>
  </main>
  <%- include('../../components/_footer') %>
</body>

</html>